.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.title-img{
    max-width: 100%;
    height: auto;
}
.header-author-info{
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
    grid-template-areas:
    "space header author";
}
.avatar{
    max-width: 70%;
    max-height: 70%
}
.title{
    grid-area:header ;
}
.author-info{
    grid-area: author;
    background-color: rgb(0, 0,0 ,.2);
	padding: 5px 20px;
	border-radius: 10px;
	text-align: center;
	line-height: 1rem;
    height: 250px;
    width: 150px;
}
.blog-post h1{
    font-size: 35px;
    color: #37414f;
}
.blog-post h4,h5, .author-info h4,h5{
    margin: 0%;
    padding: 10px;
    color: rgb(0,0,0,.7);

}
.blog-post h2{
    font-size: 25px;
    color: #37414f;

}
.blog-post p{
    font-size: 20px;
    color: #46657d;
}
.blog-post{
    width: 70%;
}

